  <!-- Footer
    ============================================= -->
    <footer id="footer" class="padding-50 dark">
        <div class="container">
          <div class="row">
            <!-- Our location !-->
            <div class="col-md-3 col-sm-6 col-xs-12 our_location">
              <h3>Our Location</h3>
              <p>Majesty  Head Office:</p>
              <span>1422 1st St. Santa Rosa,t CA 94559. USA</span>
              <p class="mt30">Call for Reservations:<span >(001) 123-4567</span></p>
              <p>E-mail: <span>admin@e-mail.com</span> </p>
              <ul class="social mt30">
                <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" data-toggle="tooltip" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" data-toggle="tooltip" title="Behance"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
            <!-- End our location -->
            <!-- Latest Post !-->
            <div class="col-md-3 col-sm-6 col-xs-12 latest_post ">
              <h3>Lastest Post</h3>
              <div class="media">
                <div class="media-left"> <a href="blog_single_image.html" > <img class="media-object" rel="prettyPhoto" src="img/post_thumb.jpg" alt="post thumb"> </a> </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="blog_single_image.html">Thai Tanic</a></h4>
                  Lorem ipsum dolor sit amet, sectetur adipiscing elit. </div>
              </div>
              <!-- End media -->
              <div class="media">
                <div class="media-left"> <a href="blog_single_image.html" > <img class="media-object" rel="prettyPhoto" src="img/post_thumb2.jpg" alt="post thumb"> </a> </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="blog_single_image.html">Work & Roll</a></h4>
                  Lorem ipsum dolor sit amet, sectetur adipiscing elit. </div>
              </div>
              <!-- End media -->
              <div class="media">
                <div class="media-left"> <a href="blog_single_image.html" > <img class="media-object" rel="prettyPhoto" src="img/post_thumb3.jpg" alt="post thumb"> </a> </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="blog_single_image.html">Blog Name</a></h4>
                  Lorem ipsum dolor sit amet, sectetur adipiscing elit. </div>
              </div>
              <!-- End media -->
            </div>
            <!-- End latest Post -->
            <!-- Opening time !-->
            <div class="col-md-3 col-sm-6 col-xs-12 opening_time">
              <h3>Opening Times</h3>
              <ul>
                <li>
                  <p>Monday
                    <time datetime="00:01">1 pm - 10 pm</time>
                  </p>
                </li>
                <li>
                  <p>Tuesday
                    <time datetime="00:01">1 pm - 10 pm</time>
                  </p>
                </li>
                <li>
                  <p>Wednesday
                    <time datetime="00:01">1 pm - Midnight</time>
                  </p>
                </li>
                <li>
                  <p>Thursday
                    <time datetime="00:01">1 pm - 10 pm</time>
                  </p>
                </li>
                <li>
                  <p>Friday
                    <time datetime="00:01">1 pm - Midnight</time>
                  </p>
                </li>
                <li>
                  <p>Saturday <span class="label label-default">Closed</span></p>
                </li>
                <li>
                  <p>Sunday
                    <time datetime="00:01">1 pm - 10 pm</time>
                  </p>
                </li>
              </ul>
            </div>
            <!-- End opening time -->
            <!-- Flickr !-->
            <div class="col-md-3 col-sm-6 col-xs-12 flickr">
              <h3>Flickr Photos</h3>
              <ul id="flickrbox" class="thumbs">
              </ul>
            </div>
            <!-- End flickr -->
          </div>
        </div>
        <!-- End container -->
        <!-- Footer logo !-->
        <div class="footer_logo text-center"> <img  src="img/footer_logo.png"  alt="logo">
          <p> 2015 ALL RIGHT RESERVED. DESIGNED BY <a target="_blank" href="http://creative-wp.com">CREATIVE WP</a></p>
        </div>
        <!-- End Footer logo !-->
      </footer>
      <!-- End footer -->
      <!--  scroll to top of the page-->
      <a href="#" id="scroll_up" ><i class="fa fa-angle-up"></i></a> 