<footer id="footer" class="bg-dark dark">
            
  <div class="container">
      <!-- Footer 1st Row -->
      <div class="footer-first-row row">
          <div class="col-lg-12 text-center">
              <a href="index.html"><img src="assets/img/mlogo.png" alt="" width="88" class="mt-5 mb-5"></a>
          </div>
       
          <div class="col-lg-12 col-md-6 text-center">
              
              <h5 class="text-muted mb-3">Social Media</h5>
              <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
              <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
              <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
          </div>
      </div>
      <!-- Footer 2nd Row -->
      <div class="footer-second-row text-center">
          <span class="text-muted">Copyright Soup 2017©. Made with love by Suelo.</span>
      </div>
  </div>

  <!-- Back To Top -->
  <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>

</footer>