<header id="header" class="center-header">
    <div class="container">
      <div class="row">
        <div id="main-menu-trigger"><i class="fa fa-bars"></i></div>
        <!-- Logo
                    ============================================= -->
        <div id="logo"> <a href="index01.html" class="light-logo"><img src="img/logo.png" alt="Logo"></a> <a href="index01.html" class="dark-logo"><img src="img/logo_dark.png" alt="Logo"></a> </div>
        <!-- #logo end -->
        <!-- Primary Navigation
                    ============================================= -->
        <nav id="main-menu" class="dark menu-center">
          <ul>
            <li><a href="index01.html">
              <div>Home</div>
              </a>
            </li>
            <li><a href="menu_gird.html">
              <div>About Us</div>
              </a> </li>
              <li><a href="menu_gird.html">
                <div>Menu</div>
                </a> </li>
            <li><a href="reservation.html">
              <div>reservation</div>
              </a> </li>
            <li><a href="events.html">
              <div>Events</div>
              </a> </li>
            <li><a href="contact.html">
              <div>Contact</div>
              </a> </li>
          </ul>
                 </nav>
        <!-- #main-menu end -->
      </div>
    </div>
  </header>