<section  class="fullheight yt-bg-player" data-quality="hd1080" data-start="14" data-stop="19" data-video="https://www.youtube.com/watch?v=7yYKL__hSCs" >
    <!-- Bg transparent -->
    <div class="bg-transparent ">
      <!-- Slider content -->
      <div class="container dark slider-content"> <i class="icon-top-draw"></i>
        <div id="text-transform" class="owl-carousel">
          <div class="item">
            <h1>Premium Restaurant Theme</h1>
          </div>
          <div class="item">
            <h1>KEEP CALM &amp; TASTE OUR FOOD</h1>
          </div>
          <div class="item">
            <h1>Premium Restaurant Themes</h1>
          </div>
        </div>
        <p class="text-capitalize">We Create Delicous Memories</p>
        <i class="icon-bottom-draw"></i> </div>
      <!-- End Slider content -->
    </div>
    <!-- End Bg transparent -->
  </section>