<section class="section section-main section-main-2 bg-dark dark">

  <!-- Video BG -->
  <div class="bg-video" data-property="{videoURL:'https://youtu.be/t4gN-iqeY0E', showControls: false, containment:'self',startAt:1,stopAt:39,mute:true,autoPlay:true,loop:true,opacity:0.3,quality:'hd1080'}"></div>
  <div class="bg-image bg-video-placeholder zooming"><img src="assets/img/photos/bg-restaurant.jpg" alt=""></div>

  <div class="container v-center text-center">
      <img src="assets/img/mlogo.png" alt="" width="111" class="mb-5">
      <h1 class="display-2 mb-2">Best Food For Ever</h1>
      <h4 class="text-muted mb-5">and use it with your Booking!</h4>
      <a href="menu-list-collapse.html" class="btn btn-outline-primary btn-lg"><span>Book a table</span></a>
  </div>

</section>