<section *ngIf="isDataAvailable" class="section pb-0 protrude menuu">
    <div class="container">
        <h1 class="mb-6">Our menu</h1>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-10 push-md-1" role="tablist">
                <!-- Menu Category / Burgers -->
    
                <div *ngFor="let item of menuItems; index as i" >
                <div id="{{item.item_id}}" class="menu-category">
                    <div class="menu-category-title collapse-toggle" role="tab" data-target="#sss" data-toggle="collapse" aria-expanded="true">
                        <div class="bg-image" style="background-image: url('{{'http://oms.mulino-ksa.com/'+item.item_photo}}')">
                            <img src="{{'http://oms.mulino-ksa.com/'+item.item_photo}}"/>
                        </div>
                        <h2 class="title">{{item.item_name_en}}</h2>
                    </div>
                    <div id="sss" class="menu-category-content collapse" >
                        <!-- Menu Item -->
    
    
                        <div *ngFor="let sitem of item.items" class="menu-item menu-list-item">
                            <div class="row align-items-center">
                                <div class="col-sm-6 mb-2 mb-sm-0">
                                    <h6 class="mb-0">{{sitem.item_name_en}}</h6>
                                    <span class="text-muted text-sm">{{sitem.item_desc_en}}</span>
                                </div>
                                <div class="col-sm-6 text-sm-right">
                                    <span class="text-md mr-4">{{sitem.item_price}} SAR</span>
                                    <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Add to cart</span></button>
                                </div>
                            </div>
                        </div>
    
    
    
                    </div>
                </div>
            </div>
                
                
                
            </div>
        </div>
    </div>
</section>


